# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Temporary files & sensitive profiles
data/papers/matching/*
data/papers/summaries/*
data/papers/text/*
data/profiles/*